@charset "utf=8";

*{
margin: 10px;
padding: 10px;

}

html{
    font-family: 'Courier New', Courier, monospace;

}

article::after{
content: 'esse artigo foi impresso através do site cursoemvideo';


}