@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;
   


}
body{
background-image: linear-gradient(to right,#6D749C,#A2ADE8,#616EB5,#626A96,#494E69);

}
main{
background-color: white;
width: 790px;
padding: 10px;
margin: auto;
border-radius: 10px;
box-shadow: 5px 5px 15px  #313444;

}
h1{color: #494E69;
    text-align: center;
    text-shadow: 1px 1px 0px  #313444;



}
h2{color: #616EB5;

}




p {text-align: justify;



}